.map-content {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
	background-color: #fff;

	.top {
		position: absolute;
		width: 100%;
		height: 80rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10rpx 40rpx;
		box-sizing: border-box;
		background-color: rgba(0, 0, 0, 0.2);
		color: #fff;
		z-index: 999;

		.confirm {
			height: 60rpx;
			line-height: 60rpx;
			padding: 0 20rpx;
			border-radius: 10rpx;
			background-color: #42b983;
		}

		.address-text {
			width: 55vw;
			text-align: center;
			overflow: hidden;
			word-wrap: break-word;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
	}

	.map {
		position: relative;
		width: 100vw;
		height: 50vh;

		.position-icon {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 50px;
			height: 40px;
			margin-top: -12px;
			transform: translate(-50%, -50%);
		}
	}

	.search {
		padding: 10rpx 20rpx;
		display: flex;
		justify-content: center;
		background-color: #fff;

		input {
			flex: 1;
			width: calc(100vw - 80rpx);
			padding: 0 20rpx;
			height: 60rpx;
			border: 1px solid #ccc;
			border-radius: 10rpx;
		}
	}

	.bot-box {

		height: calc(50vh - 50px);
		overflow: auto;
		width: 100vw;
		background-color: #fff;

		.empty {
			margin-top: 40rpx;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.poi-list {
			padding: 0 20rpx; // Replaced $uni-spacing-row-base with 20rpx approx
			box-sizing: border-box;

			.poi-item {
				margin: 20rpx 0;
				padding: 10rpx;
				border: 1px solid #c8c7cc; // Replaced $uni-border-color
				border-radius: 6rpx; // Replaced $uni-border-radius-base

				.poi-name {
					font-size: 34rpx;
					color: #333;
				}

				.poi-address {
					.address {
						width: 100%;
						font-size: 26rpx;
						overflow: hidden;
						color: #999;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}
			}

			.poi-item:active {
				color: #fff;
				border: 1px solid #42b983;
			}
		}
	}
}
